/*NEXT AND PREVIOUS NAV*/

.screen-reader-text{
  clip: rect(1px,1px,1px,1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}


.post-navigation{
  border-top: 4px solid #1a1a1a;
  border-bottom: 4px solid #1a1a1a;
  clear: both;
  margin: 0 0 3.5em;
}
.post-navigation a[href]{
  text-decoration: none;
}
.post-navigation div+div{
  border-top: 4px solid #1a1a1a;
}
.post-navigation .meta-nav{
  color: #686868;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20px;
  display: block;
}
.post-navigation .post-title{
  font-size: 34px;
  display: block;
  margin-bottom: 20px;
  text-rendering: optimizeLegibility;
}


/* COMMENTS */
.entry-comments, .entry-post-nav, .narrow-col{
  max-width: 600px;
  margin: 50px auto;
}

.commentlist{
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}
.commentlist .comment{
  margin-bottom: 30px;
  margin-top: 30px;
}

.commentlist > .comment > .comment-body{
  margin-bottom: 80px;
}

.commentlist .comment .reply a[href]{
  border: #007acc solid 1px;
  border-radius: 2px;
  color: #007acc;
  padding: 5px 15px;
}
.commentlist p{
  margin-bottom: 25px;
}
.comment-meta{
  font-size: 85%;
  color: #777;
  margin-top: 20px;
  margin-bottom: 10px;
}
#comments, .comment-reply-title{
  border-top: 4px solid #1a1a1a;
  padding-top: 30px;
  font-weight: bold;
}
.comment-notes, .comment-awaiting-moderation, .logged-in-as, .form-allowed-tags{
  font-size: 14px;
  color: #777;
  margin-bottom: 20px;
}

.comment-form{
  padding-top: 20px;
  max-width: 600px;
}

.comment-form label{
  display: block;
  color: #777;
  text-transform: uppercase;
}

.comment-form p{
  margin-bottom: 30px;
}

.comment-form .comment-form-cookies-consent{
  display: none;
}

.comment-form textarea{
  width: 100%;
  padding: 30px 20px;
}

.comment-form input[type=text]{
  width: 100%;
}

.comment-form input[type=submit]{
  background: #1a1a1a;
  border: 0;
  border-radius: 2px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;

}

/* Header 4 */
.header4 img.desktop-logo{
  max-width: 230px;
  height: auto;
}
@media( max-width: 768px ) {

  .header4 .navbar-header{
    background-color: #fff;
  }
  /* Logo */
  .header4 .navbar-header .visible-xs{
    max-width: 89px;
  }

  .header4 .navbar-brand{
    padding: 0 0 0 8px;
  }
  /* Header background */
  .header4 .navbar-collapse{
    background-color: #000;
  }
  .header4 .navbar-collapse .navbar-nav > li > a{
    color: #fff;
  }
  .header4 .navbar-nav{
    margin: 0 -15px;
  }
  /* Toggler */
  .header4 .navbar-toggle{
    background-color: transparent;
    border: none;
  }
  .header4 .navbar-toggle:hover{
    background-color: transparent
  }

  /* When a link is active */
  .header4 .navbar-nav > .active > a,
  .header4 .navbar-nav > .active > a:focus,
  .header4 .navbar-nav > .active > a:hover{
    color: #fff !important;
    background-color: #000;
  }
}
@media( min-width: 769px ){
  .header4.navbar .dropdown-menu>.active>a {
    color: #fff !important;
  }
	.header4.navbar-default{
		min-height: 200px;
		background-color: transparent;
		border:none;
    margin-bottom: 50px;
	}

  .header4 .navbar-header{
    float: none;
  }

	.header4 .navbar-brand{
		float: none;
		padding: 0;
		height: auto;
	}

  .header4 .logo-normal{
    min-height: 170px;
  }

	.header4 img{
		margin-left: auto;
		margin-right: auto;
	}
  .header4 .navbar-collapse{
    padding: 0;
  }

	.header4 .nav{
  	border-top: 1px solid #eee;
  	border-bottom: 1px solid #eee;
  	float: none;
  	text-align: center;
	}
	.header4 .nav > li {
		float: none;
		display: inline-block;
	}
	.header4.navbar-default .nav > .active > a{
		background-color: transparent;
		color: #000;
	}

}

/* AUTHOR BOX */
.entry-author.author-box .author-info{
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 20px;
}

/* Dropdown Menu */
@media(min-width: 768px){
	.navbar-nav li.dropdown:hover  ul.dropdown-menu{
	  display: block;
  }
}

@media( min-width: 769px ){
  .navbar .dropdown-menu>.active>a{
    color: #333 !important;
  }
  .navbar .dropdown-menu>.active>a:hover{
    color: #fff !important;
  }
}

/* WOOCOMMERCE HEADER CART COUNT */
strong.header-cart-count{
  color           : #FFF;
  background-color: #77A464;
  padding         : 1px 6px;
  line-height     : 0;
  vertical-align  : top;
  border-radius   : 10px;
  font-weight     : normal;
  font-size       : 80%;
}
.orbit-three-grid .orbit-article-db{
  border: none !important;
}
.orbit-three-grid .orbit-content hr{
  background-color:#686868;
  height:1px;
  max-width:50%;
  margin-left:0;
  border: none !important;
}
.orbit-three-grid .orbit-content > p{
  color: #8c8c8c;
  margin-bottom:20px;
  font-size:16px;
}

/* Dropdown for small devices */
@media( max-width: 768px ){
  .navbar .dropdown-menu > li > a{
    color: #fff;
    font-weight: 100 !important;
  }
}
@media only screen and ( min-width: 768px ) and ( max-width: 768px ){
  .navbar .container{
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
	   top: 0;
	   border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
	    margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
		display:block !important;
  }
  .header4 .container .navbar-brand{
    margin-left: 0;
  }
  .header4 img.desktop-logo{
    max-width: 89px;
  }
}
/* Show dropdown menu on mouse hover */
@media( max-width:768px ){
  .navbar .dropdown-menu{
  	  display: block;
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
}
/* Sticky Link */
.edit_link{
  position: fixed;
  top: 80%;
  left: 100px;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  border: 1px solid #000;
}

.edit_link > a{
  display: block;
  width: 100%;
  height: 100%;
}

.edit_link > a:hover{
  text-decoration: none;
}

.edit_link > a:focus{
  outline: none;
}

.edit_link > a > span{
  display: inline-block;
  width: 100%;
  height: 100%;
}

.edit_link > a > span > i.fa{
  display: block;
  height: 25px;
  width: 25px;
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin: 11px auto;
}

/* PAGINATION IN SEARCH */
.search-pagination{
	background:#f7f7f7;
	border-top:#eaeaea solid 1px;
}
.search-pagination .navigation{ display: block; }
.search-pagination .page-numbers {
	display: inline-block;
	padding: 7px 10px;
	margin: 0 2px 0 0;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
	border-radius: 50%;
	border: 1px solid #f7f7f7;
}
.search-pagination .page-numbers.prev{ float: left;}
.search-pagination .page-numbers.next{ float: right;}
.search-pagination .page-numbers.current,.search-pagination a.page-numbers:hover {
	background: #eee;
	border: 1px solid #eee;
	text-decoration: none;
}
/* PAGINATION IN SEARCH */

.search-item{ margin-bottom: 40px; }
