a[href]{
	color: inherit;
}

body,html { height: 100%;}


body.with-header3.with-solid-menu{
		
	#content{
		margin-top: 50px;
	}
	
}




.fixed-col { 
	max-width: 1200px; 
	padding: 50px 15px; 
	margin-left: auto; 
	margin-right: auto; 
}

#search-modal{
	
	background: rgba(0, 0, 0, 0.9);

	.modal-dialog{
		top: 25%;
	}
		
	.modal-content{
		box-shadow: none;
		background: transparent;

		input[type='search'] {
			width: 100%!important;
			color: rgb(255, 255, 255);
			background: transparent;
			font-size: 40px;
			font-weight: 300;
			text-align: center;
			border: 0px;
			outline: none;
		}

		.btn {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: 61px;
			margin-left: -45px;
			font-family: Arial, Helvetica, Geneva, sans-serif;
			font-size: 16px!important;
			padding: 1em 2em;
			background: transparent;
			border: 2px solid #fff;
			border-radius: 0em;
			-webkit-border-radius: 0em;
			-moz-border-radius: 0em;
			cursor: pointer;
			line-height: 1em;
		}

	}
		
	.modal-dialog{
		max-width: 600px;
	}
}




@import 'inc/header';



@import 'inc/floating-icons';



/******************************************/