.sp-floating-icons{
	
	position: fixed;
	left: 0;
	z-index: 100;
	font-size: 18px;
	
	ul{
		margin-bottom: 0px; /* override the margin being added from bootstrap */
		
		li a[href]{
			background-color: #333;
			color: #fff;
		}
	}
	
	/* DESKTOP STYLES */
	@media( min-width: 769px ){
		
		top: 25%;
		
		ul li{ 
			width: auto !important;
			
			a[href]{
				transition: all .2s ease-in-out;
				display: block;
				padding: 25px 10px 25px 15px;
			}
			a[href]:hover{
				transform: scale(1.2, 1);
			}
		}
	}
	
	/* MOBILE STYLES */
	@media( max-width: 768px ){
		
		width: 100%;
		top: auto;
		bottom: 0;
		
		ul li{ 
			display: inline-block;
			margin-left: -2px;
			margin-right: -3px;
		}
		
		ul li:first-child{
			margin-left: 0px;
		}
		
		ul li a[href]{
			width: 100%;
			display: block;
			text-align: center;
			height: 45px;
			padding-top: 12px;
		}
	}
}