@media (min-width: 769px){
	
	/* KEEP THE SUBMENU OPEN ON HOVER OF LIST ITEM */
	#menu-primary{
		.dropdown:hover > .dropdown-menu{
			display: block;
		}
	}
}

.header3 ~ .container > .row > .search-content {
	margin-top: 6%;
}

.header1{

	.fixed-col{
		padding: 10px 20px;
	}
	
	.affix-top, .affix{
		width: 100%;
		z-index: 999;
		background: white;
		min-height: 55px;
		.logo{
			
			.navbar-brand{ padding: 0;}
			
			float: left;
			margin-bottom: 0;
			max-width: 200px;
		}
	}
	
	.affix{
		box-shadow: #b7b7b7 0 1px 8px 0;
	}
	
	.affix-top{
		.logo{
			display: none;
		}
	}
	
	.navbar-toggle{
		float: right;
		display: block;
		border: #333 solid 1px;
		margin-right: 0;
		margin-top: 0;
		
		.icon-bar{
			border: #333 solid 1px;
		}
	}
	
	.logo{
		
		display: block;
		
		margin-bottom: 30px;
		
		.navbar-brand{
			float: none;
		}
		
		img{
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}
		
	}
	
}

#header1-modal {
	
	background: rgba(0, 0, 0, 0.9);
	
	.modal-content{
		box-shadow: none;
		background: transparent;
		
		
		ul{
			text-align: center;
		}
		
		a[href]{
			color: #ccc;
			
			&:hover, &:focus{
				background: none;
				color: #eee;
			}
		}
		
	}
	
	.modal-dialog{
		max-width: 400px;
	}
}


/********Header 3 Styles*******************/

.header3 {

	.desktop-logo {
		display: block;
	}


	.affix {
		top: 0;
		width: 100%;
		z-index: 999;

	}

	.logo {
		max-width: 200px;

		img { max-width: 100%; }
	}


	.navbar {
		border: 0;
		border-radius:0;
	}

	.navbar-default{
		
		.navbar-brand{ 
			color: #fff; 
			padding-top: 0;
		}
		
		.navbar-nav>li>a { color: #fff; background-color: inherit; border-bottom: 2px solid transparent;}
		
		.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover{
	        color: #fff;
	        border-color: #e7e7e7;
	        background-color: inherit;
	    }
		
		@media( max-width: 768px ){
			.navbar-collapse{
				background: #000;
				color: #fff;
			}
			#menu-primary{ padding: 10px 15px;}
		}
		
		.navbar-nav li.sp_search_item.active a{ border: none;}

	    .navbar-toggle {
	    	border-color: #fff;
	    	
	    	.icon-bar { background-color: #fff; }	
	    }

	    .navbar-toggle:hover, .navbar-toggle:focus{ background-color: inherit; }

	}

	#menu-primary{
		margin-top: 5px;
		
		li{ padding-bottom: 10px; }
		
		li>a {
			padding: 10px;
			letter-spacing: 1px;
			font-weight: 700;
			padding-bottom: 5px;
		}
		
		
	}

	.dropdown-menu { 
    	border-radius: 0;

	    li {
	    		a {
			    border-color: #e7e7e7;
			    font-weight: 700;
			    background-color: inherit;
    		}
    	}
    } 
	
	/* FOR TRANSPARENT MENU */
	.navbar-default.sticky-transparent{
	
		transition:500ms ease;
		background-color: transparent;
		
		
		
		.logo-normal { display: block; }
		.logo-sticky { display: none; }
		
		&.scrolled{
			.logo-normal { display: none; }
			.logo-sticky { display: block; }
		}
		
	}
    


    /*****Override on Scroll****/
    .navbar-default.sticky-solid, .navbar-default.sticky-transparent.scrolled{

        background-color:#fff;
		box-shadow		: 0 1px 1px rgba(0,0,0,.075);
		border-bottom	: 1px solid #e6e6e6;
		
		@media( min-width: 769px ){
			
			.navbar-nav { 
				.active>a, .active>a:focus, .active>a:hover{ color: #000; }
				li, li.dropdown, li.dropdown:hover, li.dropdown:focus, li.dropdown:active  { a { color: #000;} }
			}

			
		}
		
		/* MENU ICON THAT HANDLES THE RESPONSIVE MENU */
		.navbar-toggle {
			border-color: #000;
			.icon-bar { background-color: #000; }	
		}
    }

}

@media (max-width: 768px){
    .header3 {
    	.navbar-default {
    		.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover{
       			border-color:transparent;
    		}
  		}

  		.navbar-nav .open {
  			.dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
				color: #fff;
			}
		}

		.scrolled {
			.open {
				.dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
					color: #000;
				}
			}		
		}
  	}

  	.header3 ~ .container > .row > .search-content{
		margin-top: 20%;
	}
  	
}
